{% extends 'base/base.html' %}
{% load static %}
{% block title %}
LOGIN
{% endblock %}
{% block navbar%}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet"type="text/css"  href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script>
            $(document).on('ready', function() {
                $('#show-hide-passwd').on('click', function(e) {
                    e.preventDefault();
                    var current = $(this).attr('action');
                    if (current == 'hide') {
                        $(this).prev().attr('type','text');
                        $(this).removeClass('glyphicon-eye-open').addClass('glyphicon-eye-close').attr('action','show');
                    }
                    if (current == 'show') {
                        $(this).prev().attr('type','password');
                        $(this).removeClass('glyphicon-eye-close').addClass('glyphicon-eye-open').attr('action','hide');
                    }
                })
            })
        </script>


    </head>
    <body id="loginBody" >
        <div class="container ">
            {% if messages %}
                <div class="col-sm-10">
                    <div class="row ">

                        {% for message in messages %}
                         <div class="alert alert-success alert-dismissible">
                         <button type="button" class="close alert-dismissable" data-dismiss="alert">&times;</button>
                        <p{% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</p>

                         </div>
                        {% endfor %}

                    </div>
                </div>
            {% endif %}
        </div>
        <div class="color-content-login "style="text-align:center;">
            <br>
            <img id = "imagenFormato" src="/static/imagenes/brainje.jpg"> <br><br>
            <form method="post">
            	{% csrf_token %}
            	<div class="row">
                	<div class="col-md-8 col-md-offset-2">
                		<div class="form-group">
                    		<!--<input class="form-control" id="email" placeholder="Ingresar Correo" type="email" name="email" required>-->
                            <input class="col-xs-12 estiloInput colorInput"  name="username"  placeholder="email">
                	   </div>
                    </div>
                </div>    
                <div class="row">
                	<div class="col-md-8 col-md-offset-2">
                		<br><div class="form-group input-group ">
                    		<!--<input class="form-control" id="password" type="password" placeholder="Ingresar Contraseña" name="password" required>-->
                            <input class="col-xs-11 estiloInput colorInput" type="password" id="password"  name="password" autocomplete="on" placeholder="Contraseña" required>
                            <span id="show-hide-passwd" action="hide" class=" glyphicon glyphicon-eye-open"></span>
                	   </div>
                	    
                    </div>
                </div>
                {% if form.errors %}
                            <p style="color:red;font-weight: bold;" id="heading">Las credenciales son inválidas</p>
                {% endif %}
                <br><br><input class="btn boton-primary"  type="submit"  value="Ingresar">
            </form>
        </div>
    </body>
    <div id="popup" class="modal fade" role="dialog">

    </div>
    

</html>

{% endblock %}
{% block footer %}
    <div class="footer">
        <h5><b>BRAINJE</b></h5>
        <h5><b>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;</b></h5> 
        <h5>Todos los derechos reservados ©</h5> 
        <h5><b>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;</b></h5> 
        <h5>2020 </h5>
    </div>
{% endblock %}