{% load staticfiles %}
<!doctype html>
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet"type="text/css"  href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>

    </head>
    <body  id="loginBody">
    	<div class="bg-modal">
			<div class="modal-content">
				<div class="content-titulos">
					<h1><b> RECUPERAR CONTRASEÑA</b></h1>
					<h4>Te hemos enviado un correo con un enlace para reestablecer tu contraseña.</h4>
					<br></br>
				</div>
				
			</div>
		</div>
	</body>
</html>
{% endblock %}
