
{% load staticfiles %}
<!doctype html>
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet"type="text/css"  href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>

    </head>
    <body  id="loginBody" >
    	<div class="bg-modal">
			<div class="modal-content">
				<div class="content-titulos">
					<div class="close" style="color:black;">x</div>
					<h1><b> RECUPERAR CONTRASEÑA</b></h1>
				</div>
				<form method="post">
					{% csrf_token %}
					<div id='popup' class="form-group" style="text-align:center;">
						<label for="id_email">Correo:</label> {{ form.email }} 
						<br></br>
						<input  style="text-align:center;" type="submit" value="Enviar">
						<br></br>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
<script>
	document.querySelector('.close').addEventListener('click',
	function(){
		document.querySelector('.bg-modal').style.display='none';
		location.href ="/accounts/login/";
	});


</script>
{% endblock %}
