{% load staticfiles %}
<!doctype html>
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet"type="text/css"  href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>

    </head>
    <body  id="loginBody" >
    	<div class="bg-modal">
			<div class="">
				<div class="modal-content">
					<div class="content-titulos">
							<h1><b> RECUPERAR CONTRASEÑA</b></h1>
							<br></br>
							<h3 class="text-center">Su contraseña se reestableció correctamente</h3>
							<br></br>
							<p class="text-center"><a  href="{% url 'login' %}">Iniciar sesión</a></p>
							<br></br>
					</div>
				</div>

			</div>
		</div>
	</body>
</html>
{% endblock %}