{% load staticfiles %}
<!doctype html>
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet"type="text/css"  href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>

    </head>
    <body  id="loginBody" >
    	<div class="bg-modal">
			<div class="">
				<div class="modal-content">
					{% if validlink %}
						<div class="content-titulos">
							<h1><b> NUEVA CONTRASEÑA</b></h1>
						</div>
						<form method="post" style="text-align:center;">
							{% csrf_token %}
							{{ form.new_password1.errors }}
							<label for="id_new_password1">Ingresar  contraseña: </label>
							<br></br>
							{{ form.new_password1 }}

							{{ form.new_password2.errors }}
							<br></br>
							<label for="id_new_password2">Confirme contraseña:</label>
							<br></br>
							{{ form.new_password2 }}
							<br></br>
							<input  style="text-align:center;" type="submit" value="Cambiar mi contraseña" />
							<br></br>
						</form>
					{% else %}
						<div class="content-titulos">
							<br></br>
							<h3 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h3>
							<br></br>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		document.querySelector('.close').addEventListener('click',
		function(){
			document.querySelector('.color-content-resetPaswword').style.display='none';
			location.href =window.location.href;
		});
	</script>
</html>
{% endblock %}