<!-- Para cargar los archivos estaticos del proyecto-->
{% load static %}
<!DOCTYPE html> {% block content %}
<html lang="es">

<head>
    {% block extrahead %}
    <link rel="shortcut icon" href="#">
    <!-- Fontfaces CSS-->
    <link href={% static 'css/font-face.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %} rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href={% static 'vendor/bootstrap-4.1/bootstrap.min.css' %} rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href={% static 'vendor/animsition/animsition.min.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/wow/animate.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/css-hamburgers/hamburgers.min.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/slick/slick.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/select2/select2.min.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %} rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href={% static 'css/theme.css' %} rel="stylesheet" media="all">
    <!-- Papaya CSS JS-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- iOS meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">



    <link rel="stylesheet" type="text/css" href="/static/css/papaya.css?build=1449" />
    <script src="/static/js/papaya.js?build=1449"></script>

    <title>BRAINJE</title>


    {% endblock %}

    <title>{% block title %} Principal {% endblock %} </title>
</head>

<body>


    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="{% url 'home_doctor' %}">
                            <img src="{% static 'imagenes/brainje2_150x50.png' %}" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">

                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>Cargar Datos</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a onclick="return abrir_modal('/imagenMRI/MriRegister/')">Imagen MRI</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-chart-bar"></i>Diagnóstico</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a onclick="return abrir_modal('/Diagnostico/barraCargaModeloDiagPorMRI')">Enfermedad de Parkinson (EP) por imagen MRI</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Más opciones</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <!--<a href="{% url 'registrar_Doctor' %}">Registrar Doctor</a>-->
                                    <a onclick="return abrir_modal('/sujeto/registrarCliente/')">Registrar Paciente</a>
                                </li>
                                <li>
                                    <a href="{% url 'diagnostico_disponible' %}">Lista de Diagnóstico</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="{% static 'imagenes/brainje2_250x80.png' %}" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>Cargar Datos</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a onclick="return abrir_modal('/imagenMRI/MriRegister/')">Imagen MRI</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-chart-bar"></i>Diagnóstico</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a onclick="return abrir_modal('/Diagnostico/barraCargaModeloDiagPorMRI')">Enfermedad de Parkinson (EP) por imagen MRI</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Más opciones</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <!--<a href="{% url 'registrar_Doctor' %}">Registrar Doctor</a>-->
                                    <a onclick="return abrir_modal('/sujeto/registrarCliente/')">Registrar Cliente</a>
                                </li>
                                <li>
                                    <a href="{% url 'diagnostico_disponible' %}">Lista de Diagnóstico</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <h2>Resultados del Diagnóstico de Enfermedad de Parkinson</h2>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="{% static 'imagenes/avatar.png' %}" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{ user.get_full_name }}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="{% static 'imagenes/avatar.png' %}" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{ user.get_full_name }}</a>
                                                    </h5>
                                                    <span class="email">{{ user.get_email }}</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="{% url 'logout' %}">
                                                    <i class="zmdi zmdi-power"></i>Cerrar sesión</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="container">
                    {% if messages %}
                    <div class="col-sm-12">
                        <div class="row ">
                            {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <button type="button" class="close alert-dismissable" data-dismiss="alert">&times;</button>
                                <p{% if message.tags %} class="" {% endif %}>{{ message }}</p>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                    {% endif %}

                </div>
                <!--<div class="papaya" data-params="params"></div>-->
                <div class="au-card au-card--no-shadow au-card--no-pad m-b-70">
                    <div class="au-card-title">
                        <div class="bg-overlay bg-overlay--blue"></div>
                        <h3><i class="zmdi zmdi-image"></i>Visualizador de imagenes MRI</h3>
                    </div>
                    <div class="papaya" data-params="params"></div>
                </div>

                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                                    <div class="au-card-title">
                                        <div class="bg-overlay bg-overlay--blue"></div>
                                        <h3><i class="zmdi zmdi-assignment-check"></i>Resultado diagnóstico</h3>
                                    </div>

                                    <div class="au-card chart-percent-card">
                                        <div class="au-card-inner">
                                            <h3 class="title-2 tm-b-5">Porcentaje (%)</h3>
                                            <div class="row no-gutters">
                                                <div class="col-xl-2">
                                                    <div class="chart-note-wrap">
                                                        {% if data1PD %}
                                                        <div class="chart-note mr-0 d-block">
                                                            <span class="dot dot--blue"></span>
                                                            <span><b>EP:</b> </span>
                                                            <span>{{data1PD}}</span>
                                                        </div>
                                                        <div class="chart-note mr-0 d-block">
                                                            <span class="dot dot--red"></span>
                                                            <span><b>NO EP:</b>  </span>
                                                            <span>{{data2Sano}}</span>
                                                        </div>
                                                        {% else %}
                                                        <div class="chart-note mr-0 d-block">
                                                            <span class="dot dot--blue"></span>
                                                            <span><b>EP:</b> </span>
                                                            <span>--</span>
                                                        </div>
                                                        <div class="chart-note mr-0 d-block">
                                                            <span class="dot dot--red"></span>
                                                            <span><b>NO EP:</b>  </span>
                                                            <span>--</span>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <!--<div class="col-xl-10">
                                                                <div class="percent-chart">
                                                                    <canvas id="percent-chart"></canvas>
                                                                </div>
                                                            </div>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="au-card chart-percent-card">
                                        <div class="au-card-inner">
                                            <div class="row no-gutters">
                                                <!--<div class="col-xl-12">-->
                                                {% if object == false %} {% csrf_token %}
                                                <!--/diagnostico/EditarDiagObser/{{data1PD.id_diag}}-->
                                                <form role="form" enctype="multipart/form-data" action="{% url 'EditarDiagObser' diagnostico.id_diag%}" method="post">
                                                    {% endif %}
                                                    <form class="centrar-form " enctype="multipart/form-data" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <div class="content-titulos">
                                                                <h3><b>Califica los resultados:<b></h3>
                                                                </div>
                                                                <br>
                                                                <div >
                                                                    <label for="{{form1.descripcion.name}}">{{form1.descripcion.label}}</label>
                                                                    <!--<input class="form-control"  type="text" name="apellido" placeholder="Ingresar una observación" required>-->
                                                                    <textarea id="descripcion" name="descripcion" rows="3" cols="10" style="border:solid 1px black;">Escribe aquí tus observaciones</textarea>
                                                                </div>
                                                                <input style="text-align:center;" class="btn btn-primary" id="is_parkinson" name="is_parkinson" type="submit" value="Aceptar">
                                                                <input style="text-align:center;" class="btn btn-primary" id="is_parkinson" name="is_parkinson" type="submit" value="Rechazar">
                                                                <!--<div class="col-md-6 col-md-offset-1">
                                                                    <div class="form-group" style="text-align:center;">
                                                                        <br><button class="btn btn-primary " id="botonsi" type="submit">Aceptar</button></br>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-md-offset-1">
                                                                    <div class="form-group" style="text-align:center;">
                                                                        <br><button class="btn btn-primary " id="botonno" type="submit">Rechazar</button></br>
                                                                    </div>
                                                                </div>-->
                                                            </div>
                                                                    
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-16">
                                        <div class="au-card au-card--no-shadow au-card--no-pad m-b-40 au-card--border">
                                            <div class="au-card-title">
                                                <div class="bg-overlay bg-overlay--blue"></div>
                                                <h3><i class="zmdi  zmdi-assignment"></i>Tabla de Características</h3>
                                            </div>
                                            <!-- DATA TABLE-->
                                            <div class="au-inbox-wrap js-inbox-wrap"></div>
                                            <div class="table-responsive m-b-40">
                                                <table class="table table-top-campaign">
                                                    <tbody>
                                                        {% if listFeaturesToPredict %}
                                                            {% for feature,nameCols in listFeaturesToPredict %}
                                                                <tr>
                                                                    <td>{{ nameCols }}</td>
                                                                    <td>{{ feature }}</td>
                                                                    <!--<td>{{ feature|floatformat:4 }}</td>-->
                                                                </tr>
                                                            {% endfor %}
                                                        {% else %}
                                                            <h1>No hay datos disponibles</h1>
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- END DATA TABLE-->
        
                                    </div>
        
        
                                </div>
        
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTAINER-->
    
    <div id="popup" tabindex="-1" class="modal fade" role="dialog">

    </div>
    {% if listFeaturesToPredict %}
        <script>
        var params = [];
        var pathImageOverlay = '/{{Overlay_image}}';
        console.log(pathImageOverlay);
        params["encodedImages"] = [pathImageOverlay];
        params ["images"]  = [pathImageOverlay];
        </script>
    {% else %}
        <h1>No hay datos disponibles</h1>
    {% endif %}

</body>

</html>
<script>
    function abrir_modal(url)
    {
        $('#popup').load(url, function()
        {
                $(this).modal('show');
        });
        $('#popup').on('hidden.bs.modal', function (e) {
          location.reload();
        });
         return false;
    }
</script>
{% endblock %} 
{% block extrajs %}
<!-- Jquery JS-->
<script src={% static 'vendor/jquery-3.2.1.min.js' %}></script>
<!-- Bootstrap JS-->

<!-- Vendor JS -->
<script src={% static 'vendor/slick/slick.min.js' %}>
</script>
<script src={% static 'vendor/wow/wow.min.js' %}></script>
<script src={% static 'vendor/animsition/animsition.min.js' %}></script>
<script src={% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}>
</script>
<script src={% static 'vendor/counter-up/jquery.waypoints.min.js' %}></script>
<script src={% static 'vendor/counter-up/jquery.counterup.min.js' %}>
</script>
<script src={% static 'vendor/circle-progress/circle-progress.min.js' %}></script>
<script src={% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}></script>
<script src={% static 'vendor/chartjs/Chart.bundle.min.js' %}></script>
<script src={% static 'vendor/select2/select2.min.js' %}>
</script>

<!-- Main JS-->
<script src={% static 'js/main.js' %}></script>



<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% endblock %}