<!-- Para cargar los archivos estaticos del proyecto-->
{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="es">

<head>
    {% block extrahead %}
    <link rel="shortcut icon" href="#">
    <!-- Fontfaces CSS-->
    <link href={% static 'css/font-face.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %} rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href={% static 'vendor/bootstrap-4.1/bootstrap.min.css' %} rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href={% static 'vendor/animsition/animsition.min.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/wow/animate.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/css-hamburgers/hamburgers.min.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/slick/slick.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/select2/select2.min.css' %} rel="stylesheet" media="all">
    <link href={% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %} rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href={% static 'css/theme.css' %} rel="stylesheet" media="all"> 
    <!-- Papaya CSS JS-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- iOS meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">



    <link rel="stylesheet" type="text/css" href="/static/css/papaya.css?build=1449" />
    <script  src="/static/js/papaya.js?build=1449"></script>

    <title>BRAINJE</title>

    <script>
    var params = [];
    params["encodedImages"] = ["{% static 'data/AICHAhr.nii'%}"];
    params ["images"]  = ["{% static 'data/AICHAhr.nii'%}"];
    </script>

    {% endblock %}

    <title>{% block title %} Principal {% endblock %} </title>
</head>

<body>
    

    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="{% url 'home_administrador' %}">
                            <img src="{% static 'imagenes/brainje2_150x50.png' %}" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                       
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>Cargar Datos</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <!--<a href="{% url 'registrar_Doctor' %}">Registrar Doctor</a>-->
                                    <a onclick="return abrir_modal('/sujeto/registrarCliente/')">Paciente</a>
                                </li>
                                <li>
                                   <a onclick="return abrir_modal('/Diagnostico/feedback_CargarMRI')">Imagen MRI</a>
                                </li>
                                <li>
                                    <a onclick="return abrir_modal('/Diagnostico/feedback_CargarCSV')">Archivo Csv Habla</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-chart-bar"></i>Diagnóstico</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                  <a onclick="return abrir_modal('/Diagnostico/feedback_DiagMri')">Enfermedad de Parkinson(EP) por imagen MRI</a>
                                </li>
                                <li>
                                    <!--<a href="#">Estudio PD con Habla</a>-->
                                    <a onclick="return abrir_modal('/Diagnostico/feedback_DiagHabla/')">Enfermedad de Parkinson(EP) por caracteristicas de Habla</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Más opciones</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <!--<a href="{% url 'registrar_Doctor' %}">Registrar Doctor</a>-->
                                    <a onclick="return abrir_modal('/user/registrarDoctor/')">Registrar Doctor</a>
                                </li>
                                <li>
                                    <a onclick="return abrir_modal('/Diagnostico/feedback_ListDiagMri/')">Lista de Diagnóstico</a>
                                </li>
                                <li>
                                    <a onclick="return abrir_modal('/Diagnostico/precisionesCsv_Habla/')">Precisiones de los modelos ML para EP por Habla</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="{% static 'imagenes/brainje2_250x80.png' %}" alt="Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>Cargar Datos</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <!--<a href="{% url 'registrar_Doctor' %}">Registrar Doctor</a>-->
                                    <a onclick="return abrir_modal('/sujeto/registrarCliente/')">Paciente</a>
                                </li>
                                <li>
                                   <a onclick="return abrir_modal('/Diagnostico/feedback_CargarMRI')">Imagen MRI</a>
                                </li>
                                <li>
                                    <a onclick="return abrir_modal('/Diagnostico/feedback_CargarCSV')">Archivo Csv Habla</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-chart-bar"></i>Diagnóstico</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                  <a onclick="return abrir_modal('/Diagnostico/feedback_DiagMri')">Enfermedad de Parkinson(EP) por imagen MRI</a>
                                </li>
                                <li>
                                    <!--<a href="#">Estudio PD con Habla</a>-->
                                    <a onclick="return abrir_modal('/Diagnostico/feedback_DiagHabla/')">Enfermedad de Parkinson(EP) por caracteristicas de Habla</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Más opciones</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <!--<a  href="{% url 'registrar_Doctor' %}">Registrar Doctor</a>-->
                                    <a onclick="return abrir_modal('/user/registrarDoctor/')">Registrar Doctor</a>
                                </li>
                                <li>
                                    <a onclick="return abrir_modal('/Diagnostico/feedback_ListDiagMri/')">Lista de Diagnóstico</a>
                                </li>
                                <!--<li>
                                    <a onclick="return abrir_modal('/Diagnostico/pruebasMLCsv_Habla/')">Diagnóstico de EP por Habla</a>
                                </li>-->
                                <li>
                                    <a onclick="return abrir_modal('/Diagnostico/precisionesCsv_Habla/')">Precisiones de los modelos ML para EP por Habla</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <h2>Modo: Administrador</h2>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="{% static 'imagenes/avatar.png' %}" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a  class="js-acc-btn" href="#">{{ user.get_full_name }}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="{% static 'imagenes/avatar.png' %}" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{ user.get_full_name }}</a>
                                                    </h5>
                                                    <span class="email">{{ user.get_email }}</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="{% url 'logout' %}">
                                                    <i class="zmdi zmdi-power"></i>Cerrar sesión</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="container">
                    {% if messages %}
                        <div class="col-sm-12">
                            <div class="row ">
                                {% for message in messages %}
                                 <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                    <button type="button" class="close alert-dismissable" data-dismiss="alert">&times;</button>
                                    <p{% if message.tags %} class=""{% endif %}>{{ message }}</p>
                                 </div>
                                {% endfor %}
                            </div>

                        </div>
                    {% endif %}

                </div>
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                                    <div class="au-card-title">
                                        <div class="bg-overlay bg-overlay--blue"></div>
                                        <h3><i class="zmdi zmdi-assignment-check"></i>Resultado diagnóstico</h3>
                                    </div>

                                        <div class="au-card chart-percent-card">
                                            <div class="au-card-inner">
                                                <h3 class="title-2 tm-b-5">Estudio de EP por Habla(%)</h3>
                                                <div class="row no-gutters">
                                                    <div class="col-xl-2">
                                                        <div class="chart-note-wrap">
                                                            {% if data1 %}
                                                            <div class="chart-note mr-0 d-block">
                                                                <span class="dot dot--blue"></span>
                                                                <span><b>EP :</b> </span>
                                                                <span>{{data1}}</span>
                                                            </div>
                                                            <div class="chart-note mr-0 d-block">
                                                                <span class="dot dot--red"></span>
                                                                <span><b>NO EP :</b>  </span>
                                                                <span>{{data2}}</span>
                                                            </div>
                                                            {% else %}
                                                            <div class="chart-note mr-0 d-block">
                                                                <span class="dot dot--blue"></span>
                                                                <span><b>EP :</b> </span>
                                                                <span>---</span>
                                                            </div>
                                                            <div class="chart-note mr-0 d-block">
                                                                <span class="dot dot--red"></span>
                                                                <span><b>NO EP :</b>  </span>
                                                                <span>---</span>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTAINER-->
    
    <div id="popup" tabindex="-1" class="modal fade" role="dialog">

    </div>
</body>

</html>
<script>
    function abrir_modal(url)
    {
        $('#popup').load(url, function()
        {
                $(this).modal('show');
        });
        $('#popup').on('hidden.bs.modal', function (e) {
          location.reload();
        });
         return false;
    }
</script>

{% endblock %} 
{% block extrajs %}
<!-- Jquery JS-->
<script src={% static 'vendor/jquery-3.2.1.min.js' %}></script>
<!-- Bootstrap JS-->

<!-- Vendor JS -->
<script src={% static 'vendor/slick/slick.min.js' %}>
</script>
<script src={% static 'vendor/wow/wow.min.js' %}></script>
<script src={% static 'vendor/animsition/animsition.min.js' %}></script>
<script src={% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}>
</script>
<script src={% static 'vendor/counter-up/jquery.waypoints.min.js' %}></script>
<script src={% static 'vendor/counter-up/jquery.counterup.min.js' %}>
</script>
<script src={% static 'vendor/circle-progress/circle-progress.min.js' %}></script>
<script src={% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}></script>
<script src={% static 'vendor/chartjs/Chart.bundle.min.js' %}></script>
<script src={% static 'vendor/select2/select2.min.js' %}>
</script>

<!-- Main JS-->
<script src={% static 'js/main.js' %}></script>




<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% endblock %}