{% load static %}
<!doctype html> {% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />

</head>

<body class="body">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {% if object %}
            <form enctype=multipart/form-data role="form" action="{% url 'RegistroDiagEditar' object.pk %}" method="post">
                {% else %}
                <form role="form" action="{% url 'diagnostico_disponible' %}" method="post">
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}

                        <div class="content-titulos">
                            <div class="close" style="color:black;">x</div><br>
                            <h1><b>Califica los resultados:<b></h1>
                            <div class="col-sm-12">
                                <label for="{{form1.descripcion.name}}">{{form1.descripcion.label}}</label>
                                <!--<input class="form-control"  type="text" name="apellido" placeholder="Ingresar una observación" required>-->
                                <textarea id="descripcion" name="descripcion" rows="3" cols="70" style="border:solid 1px black;" placeholder="Escribe aquí tus observaciones"></textarea>
                            </div>
                            <input style="text-align:center;" class="btn btn-primary" id="is_parkinson" name="is_parkinson" type="submit" value="Aceptar">
                            <input style="text-align:center;" class="btn btn-danger" id="is_parkinson" name="is_parkinson" type="submit" value="Rechazar"> 
                        <!--<button style="text-align:center;" class="btn btn-danger" type="submit">Sí, eliminar</button>
                        <a style="text-align:center;" class= "btn btn-default" href="/Diagnostico/disponibleToDoctor">Cancelar</a>-->
                        </div>
    				
    			</form>
    		</div>
        </div>
	</body>
</html>
<script>
    document.querySelector('.close').addEventListener('click',
    function(){
        document.querySelector('.modal-content').style.display='none';
        location.href =window.location.href;
    });
</script>
{% endblock %}