{% load static %}
<!doctype html>
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Jquery JS-->
        <script src={% static 'vendor/jquery-3.2.1.min.js' %}></script>
        
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <link rel="stylesheet"type="text/css"  href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script>
            function abrir_modal(url)
            {
                $('#popup').load(url, function()
                {
                        $(this).modal('show');
                });
                $('#popup').on('hidden.bs.modal', function (e) {
                  location.reload();
                });
                 return false;
            }
        </script>
    </head>
    <body class="body">
        <div class="modal-dialog modal-lg">
    		<div class="modal-content">

    			<form>
    				{% csrf_token %}
                    <div class="content-titulos">
                        <div class="close" style="color:black;">x</div>
                    </div>
                    <div class="au-card chart-percent-card">
                        <div class="content-titulos">
                            <h1 content-titulos ><b>Aviso!</b> <i class="fas fa-image"></i></h1>
                        </div>
                        <p align="left">Por favor, seguir los siguientes pasos para realizar un  diagnóstico de Enfermedad de Parkinson (EP) mediante MRI:
                            <ul>
                                <li>Primero, debera registrar los datos del paciente. (<strong>"Cragar Datos"</strong> -> <strong>"Paciente"</strong>)</li>
                                <li>Segundo, registrar  las imagenes MRI  T1 y FLAIR correspondientes al pacientente a tratar.</li> (<strong>"Cragar Datos"</strong> -> <strong>"Imagen MRI"</strong>)
                                <li>Tercero, ejecutar el diagnóstico de Parkinson. (<strong>"Diagnóstico"</strong> -> <strong>"Enfermedad de Parkinson(EP) por imagen MRI"</strong>)</li>
                            </ul>
                            Cumpliendo con los pasos enunciados, BrainJE mostrará los resultados del diagnóstico.
                        </p> 
                        <div class="content-titulos2" style="text-align:center;">
                            <a  class= "btn btn-primary"  onclick="return abrir_modal('/imagenMRI/MriRegister/')">ok</a>
                            <!--<a  class= "btn btn-primary"  onclick="return abrir_modal('/sujeto/registrarCliente/')">ok</a>-->
                        </div>

                    </div>

    				
    			</form>
    		</div>
        </div>
        <div id="popup" tabindex="-1" class="modal fade" role="dialog">

        </div>
	</body>
</html>
<script>
    document.querySelector('.close').addEventListener('click',
    function(){
        document.querySelector('.modal-content').style.display='none';
        location.href =window.location.href;
    });
</script>



{% endblock %}