{% load static %}
<!doctype html>
{% block content %}
<!--<div class="well well-xl">
<form method="post" action=''enctype="multipart/form-data" >
	{% csrf_token %}
	{{ form.as_p }}

	<button type="submit">Agregar</button>
</form>
</div>-->
<html lang="en">
    <head>
    	<meta charset="UTF-8">
        <meta charset="UTF-8">
        <link rel="stylesheet"type="text/css"  href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
	<body class="body">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="content-Tablas">
                        <div class="content-titulos">
                            <div class="close"  style="color:black;">x</div>
                            <h1><b> Ingresar lista de datos para diagnóstico de Enfermedad de Parkinson</b></h1>
                        </div>
						<div class="card">
                                <div class="card-body card-block">
                                    <form action="{% url 'diagnoticoPorCsv_Habla' %}" method="get" class="form-horizontal">
                                        <div class="row form-group">
                                            <div class="col col-md-12">
                                                <div id="myimageDiv" style="display:none"> 
                                                    <img src="{% static 'imagenes/barra_load1.gif' %}" alt="load image">
                                                </div>
                                                <div id="myimageDiv1" style="display:inline"> 
                                                    <img src="{% static 'imagenes/barra_load1_1.png' %}" alt="ceroimage">
                                                </div>
                                                <div class="input-group">
                                                    <input type="text" name="q" id="input2-group2" placeholder="...lista de datos de caracteristicas a predecir..." class="form-control" required="">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-primary" onclick="showHide()">Diagnosticar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
						</div>
			</div>
		</div>

   </body>
</html>
<script>
	document.querySelector('.close').addEventListener('click',
	function(){
		document.querySelector('.modal-content').style.display='none';
		location.href =window.location.href;
		//location.href ='/home_administrador/';
	});
</script>
{% block extrajs %}
<!--<script src={% static 'js/pace.min.js' %}></script>-->
<script type="text/javascript"> 
    function showHide(){ 
        var oImageDiv=document.getElementById('myimageDiv') 
        var oImageDiv1=document.getElementById('myimageDiv1') 

        oImageDiv.style.display=(oImageDiv.style.display=='none')?'inline':'none'
        oImageDiv1.style.display=(oImageDiv.style.display=='inline')?'none':'inline'
    } 

</script>

{% endblock %}
{% endblock %}
